@import "tailwindcss";
@import "./styles/global.css";
@import "./styles/shared.css";

:root {
  --sidebar-w: 260px;
  --color-brand-500: #ffa200;
}

body, input, textarea, select, button {
  font-family: var(--font-thai);
}

/* Remove number input spinners globally */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}